.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.pagination button {
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 16%);
}

.paginationItem {
  background: #fff;
  border: 1px solid #ddd;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  border: 1px solid #ddd;
  height: 45px;
  width: 45px;
  background: #fff;
  color: #2920df;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}