.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #4f46e5;
}

.warning-message {
  font-size: 37px;
  margin-top: 200px;
}

.back-btn {
  display: flex;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
  font-size: 22px;
  color: #4f46e5;
}
